@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{margin:0;padding:0;}
ul,li,ol{list-style: none;}
img{display: block; max-width: 100%;}
body{
    font-family: 'Noto Sans KR',sans-serif;
    background-color: #676F7B;
}

section{
    max-width: 1000px;
    width: 100%;
    margin:auto;
    padding:5% 0;
    background-color: #fff;
    color:#424850;
}
.video{
    width: 50%; margin:0 auto;
    padding-bottom:4%; text-align: center;
}

.main{
    width: 90%; margin:0 auto;
    height: 100%;
    line-height: 1.74;
}
.imgArea{
    max-width: 600px; 
    width: 95%; margin:auto;
    padding-top:4%;
}
.main p{margin-top:20px;}
.main p.mt0{margin-top:0px;}
.main p.mt5{margin-top:50px;}
.main p.mt8{margin-top:75px;}
.txtC{text-align: center;}
.txtI{font-style: italic;}
.fwB{font-weight: bold;}

.owner{
    cursor: pointer;
    display:flex;
    justify-content: flex-end;
    margin:5% 2% 5% 0;
    color:#c1c1ce;
    text-align: right;
}
details,summary{transition: .5s;}

.topBtn{
    cursor: pointer;
    width: 0px;
    height: 0px;
    margin:auto;
    padding:5% 0;
    border-top: 25px solid none;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #676F7B;
}


@media screen and (max-width:1000px){
    body{font-style: 1.3vw;}
    .main p{margin-top:5.5556%;}
    .main p.mt0{margin-top:0%;}
    .main p.mt5{margin-top:8.3335%;}
    .main p.mt8,.imgArea{margin-top:13.3335%;}
        
    .topBtn{
        width: 0px;
        height: 0px;
        margin:auto;
        padding:5% 0;
        border-top: 4vw solid none;
        border-left: 4vw solid transparent;
        border-right: 4vw solid transparent;
        border-bottom: 4vw solid #676F7B;
    }
}