@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{margin:0;padding:0;}
ul,li,ol{list-style: none;}
img{display: block; max-width: 100%;}
body{
    font-family: 'Noto Sans KR',sans-serif;
    background-color: #000;
}

div{
    max-width: 1000px;
    width: 100%;
    margin:auto;
    background-color: #fff;
}


.owner{
    cursor: pointer;
    display:flex;
    justify-content: flex-end;
    margin:0 auto;
    padding:2.5% 0;
    color:#c1c1ce;
    text-align: right;
}
details {
    margin-right: 2%;
}
.btnArea{
    padding-bottom:2.5%;
}
.topBtn{
    cursor: pointer;
    width: 0px;
    height: 0px;
    margin:0 auto;
    border-top: 25px solid none;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #000;
}


@media screen and (max-width:1000px){
    body{font-size: 2vw;}
    .topBtn{
        width: 0px;
        height: 0px;
        margin:auto;
        padding:5% 0;
        border-top: 4vw solid none;
        border-left: 4vw solid transparent;
        border-right: 4vw solid transparent;
        border-bottom: 4vw solid #000;
    }
}